<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="springArge.properties"/>

    <bean id="eason" class="com.aniu.spring6.bean.Eason">
        <property name="name" value="${eason.name}" />
        <property name="age" value="${eason.age}" />
    </bean>

    <bean id="easonDao" class="com.aniu.spring6.dao.EasonDao"/>
    <bean id="easonService" class="com.aniu.spring6.service.EasonService">
        <property name="easonDao" ref="easonDao"/>
    </bean>
</beans>